<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <i class="fa fa-align-justify mr-3"></i> 计量单位管理
                    <button class="btn btn-outline-info mt-0 ml-auto px-4" type="button" (click)="showAddUnitModal(addUnitContent)">
                        <i class="fa fa-plus"></i> 添加计量单位
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="controls">
                            <div class="input-group">
                                <input #search placeholder="输入单位名称..." id="appendedInputButton" [(ngModel)]='currentSearch' (keyup)="onSearch()" class="form-control" size="16" type="text">
                                <span class="input-group-btn">
                                        <button (click)="clear()" class="btn btn-secondary" type="button">清空</button>
                                     </span>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>名称</th>
                            <th>国际单位</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let unit of unitData;">
                            <td>{{unit.name}}</td>
                            <td>{{unit.code}}</td>
                            <td>{{ unit.createTime| date:"yyyy-MM-dd"}}</td>
                            <td>
                                <span class="fa fa-pencil mr-3 text-primary user-manage" (click)="updateUnit(addUnitContent,unit)"></span>
                                <span class="fa fa-trash-o text-danger" (click)="onDeleteConfirm(unit, confirmTemplate)"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <pagination [totalItems]="totalCount"
                                    [(ngModel)]="page"
                                    [itemsPerPage]="itemsPerPage"
                                    (pageChanged)="pageChanged($event)"
                                    [boundaryLinks]="true"
                                    class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>

<!--//添加弹出框-->
<ng-template #addUnitContent>
    <div class="modal-header">
        <h4 class="modal-title">编辑计量单位</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal('addUnitContentRef')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="form-horizontal" name="addForm" role="form" (ngSubmit)="onSubmit()" #addForm="ngForm" novalidate>
        <div class="modal-body">
            <div class="card" style="margin-bottom: 0">
                <div class="card-body">
                    <div class="form-group">
                        <label for="login">名称</label>
                        <input type="text" class="form-control" id="login" name="login" #nameInput="ngModel"
                               [(ngModel)]="currentUnit.name" required  maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="name">国际单位</label>
                        <input id="name" type="text" class="form-control" name="name" #codeInput="ngModel"
                               [(ngModel)]="currentUnit.code" >
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default btn-primary"  [disabled]="addForm.form.invalid"><i class="fa fa-dot-circle-o"></i> 确认</button>
            <button type="reset" class="btn btn-default" (click)="closeModal('addUnitContentRef')"><i class="fa fa-ban"></i> 取消</button>
        </div>
    </form>
</ng-template>
<ng-template #confirmTemplate>
    <div class="modal-body text-center">
        <p>确认删除?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
</ng-template>
