button.btn.btn-outline-success.template {
    margin-bottom: 8px;
}
.table-outline{
    border: none;
}
.table th, .table td{
    border:none;
}
.role-table{
    font-size: 10px;
}
.card-header .btn {
    margin-top: 0px;
}
