button.btn.btn-outline-success.template {
    margin-bottom: 8px;
}
button.btn.btn-outline-danger.template {
    margin-bottom: 8px;
}
.table-outline{
    border: none;
}
.table th, .table td{
    border:none;
}
